ALPACA_API_KEY=replace_me
ALPACA_SECRET_KEY=replace_me
ALPACA_BASE_URL=https://paper-api.alpaca.markets
ALPACA_DATA_URL=https://data.alpaca.markets
ALPACA_PAPER=true
ALPACA_OPTION_FEED=opra
ALPACA_STOCK_FEED=sip
ENABLE_LIVE_TRADING=false
TRADING_ENV=paper
LOG_LEVEL=INFO
